.container{
    background-color: black;
    height: 100px;
    width: 150px;
    border: 1px solid #ccc;
}

.container2
{
    background-color: black;
    height: 100px;
    width: 150px;
    border: 1px solid #ccc;
}

.container3
{
    background-color: black;
    height: 100px;
    width: 150px;
    border: 1px solid #ccc;
}